<h1>Balanço mensal</h1>

<ul>
    <li>Mes: <%= current_month %></li>
    <li>Total de Corridas</li>
    <li>Total da Central</li>
    <li>Total de Combustivel</li>
    <li>Total de Lavagens</li>
    <li>Total de Telefone</li>
    <li>Resumo:</li>
</ul>

<h4>Resumo = Total de Corridas - Central - Combustivel - Lavagens - Telefone</h4>