<h4> - UNIMED - Centro Integrado de Atendimento Unimed Fortaleza <br />
		- Av. Oliveira Paiva, 2849 - Cidade dos Funcionários
</h4>
<h4> - UNIMED - Hospital Regional Unimed Fortaleza, <br />
		- Av. Visconde do Rio Branco, 4000 - São João do Tauape</h4>
<h4> - UNIMED - Centro Pediátrico - Unimed Fortaleza <br />
	  - Rua Pe. Chevalier, 746 - Joaquim Távora</h4>
<h4> - UNIMED - CIAU - Parangaba - Unimed Fortaleza <br />
		- Av. Godofredo Maciel, 51 - Parangaba,
</h4>

<h4> - UNIMED CEARÁ - Rua Padre Luís Figueira, 52 - Aldeota</h4>
<h4> - Hapvida Messejana - Rua Tenente Jurandir Alencar, 234 - Messejana</h4>
<h4> - Hapclínica José Walter - R. N, 591 - Pref. José Walter</h4>
<h4> - Hapvida Montese -  Av. Professor Gomes de Matos, 1737 - Montese</h4>
<h4> - Hapvida Antônio Sales - Av. Antônio Sales, 2238 - Dionísio Torres</h4>
<h4> - Hapclínica Padre Antônio Tomás - Av. Padre Antônio Tomás, 610 - Aldeota</h4>
<h4> - Hapclínica Joaquim Távora - Av. Antônio Sales, 60 - Joaquim Távora</h4>
<h4> - Hapvida Heráclito Graça - Av. Heráclito Graça, 500 - Centro</h4>
<h4> - Hapvida São Gerardo - Av. Bezerra de Menezes, 981 - São Gerardo</h4>
<h4> - Hapvida Monte Castelo -  R. Ribeiro da Silva, 763 - Monte Castelo</h4>
<h4> - Hapvida Conjunto Ceara -  Av. Ministro Albuquerque Lima, 1421 - Conj. Ceará</h4>
<h4> - Hapvida - HapPrev, Medicina Preventiva - Rua Pereira Filgueiras, 825 - Centro</h4>
<h4> - Hapvida - Hospital Antônio Prudente - Av. Aguanambi, 1827 - Fatima</h4>
<h4> - Hapvida Aldeota - Av. Padre Antônio Tomás, 2656 </h4>
<h4> - Hospital São Camilo Cura d´Ars -  Rua Nogueira Acioli, 453 - Centro</h4>
<h4> - Hospital São Camilo de Léllis - Rua Padre Mororó, 874 - Centro</h4>
<h4> - Hospital São Carlos - Av. Pontes Vieira, 2531 - Dionísio Torres</h4>
