<h4>- Owl Beer Pub     - Rua leda Pereira, 534, Sapiranga,(3120.0707)</h4>
<h4>- Lá Patrick's Pub Park- no RioMar Fortaleza (R. Des. Lauro Nogueira, 1500, Papicu), (3066.2002)</h4>
<h4>- Blue Door Pub    - Rua Joaquim Nabuco 1333, Aldeota (98898.6268)</h4>
<h4>- The Bar Pub      - Lineu Machado, 1514, Jóquei Clube. (3013.6006)</h4>
<h4>- At Home Pub      - Canuto de Aguiar, 1424, Varjota. (3393.7443)</h4>
<h4>- Boozer's Pub     - Rua Carlos Vasconcelos, 834, Meireles. (3261.9829)</h4>
<h4>- Órbita Bar       - Rua Dragão do Mar, 207, Praia de Iracema. (3453.1421)</h4>
<h4>- Hey Joe Food Bar -	Rua Norvinda Pires, 32, Aldeota. (98106-1575)</h4>