<h4>- Estação José De Alencar, R. Guilherme Rocha, S/N</h4>
<h4>- Estação São Benedito, Av. Tristão Gonçalves, 1174</h4>
<h4>- Estação Benfica, Av. Carapinima, 2154</h4>
<h4>- Estação Maracanaú Praça Henrique Mendes, S/N</h4>
<h4>- Estação Da Parangaba, R. Eduardo Perdigão, S/N</h4>
<h4>- Estação Chico Da Silva, Rua Padre Mororó, 453</h4>
<h4>- Estação Porangabussu, Rua Professor Costa Mendes, 1455</h4>
<h4>- Estação Couto Fernandes, Av. José Bastos, 4601</h4>
<h4>- Estação Vila Pery, Rua Cônego De Castro, 1399</h4>
<h4>- Estação Manoel Sátiro, Rua Manoel Sátiro, 599</h4>
<h4>- Estação Mondubim, Rua Manoel Sátiro, 1155</h4>
<h4>- Estação Esperança, Avenida Penetração Leste, 104</h4>
<h4>- Estação Aracapé, Rua Manoel Sátiro, em frente ao número 2698</h4>
<h4>- Estação Alto Alegre, R. Quinze, 313</h4>
<h4>- Estação Raquel De Queiroz, Av Central Sul, em frente ao número 77</h4>
<h4>- Estação Virgílio Távora, Av. Parque Sul, 2851</h4>
<h4>- Estação Jereissati, Rua Manoel Pereira, Em Frente Ao Número 389</h4>
<h4>- Estação Carlito Benevides, Rua 17, Nº 01</h4>
<h4>- Estação Juscelino Kubitschek, Av. João Pessoa, 6434</h4>
<h4>- Estação Caucaia (Trem), Rua Coronel Correia, 2214</h4>
<h4>- Estação Araturi (Trem), Av. Contorno Oeste Norte, 1508</h4>
<h4>- Estação Jurema (Trem), Av. Dom Almeida Lustosa, 3247</h4>
<h4>- Estação Parque Albano (Trem), Av. F, 530</h4>
<h4>- Estação São Miguel (Trem), R. Alto Das Pedrinhas, 423</h4>
<h4>- Estação Bezerra De Menezes (Trem), Rua José Aciolly, 244-a</h4>
<h4>- Estação Padre Andrade (Trem), Av. Tenente Lisboa, 870</h4>
<h4>- Estação Álvaro Weyne (Trem), Av. Tenente Lisboa, 3566</h4>