<h4>- UFC - Pici, R. Humberto Monte, S/N</h4>
<h4>- UFC - Benfica, Av. da Universidade, 2853</h4>
<h4>- UFC - Porangabussu, R. Alexandre Baraúna, 994</h4>
<h4>- UFC - FEAAC Velha, Av. da Universidade, 2431</h4>
<h4>- UFC - FEAAC Nova, R. Mal. Deodoro, 400</h4>
<h4>- UFC - Faculdade de Direito, R. Meton de Alencar, S/N</h4>
<h4>- UECE - Itaperi, Av. Dr. Silas Munguba, 1700</h4>
<h4>- UECE - Centro de Humanidades, Av. Luciano Carneiro, 345</h4>
<h4>- IFCE - Instituto Federal do Ceará, Av. 13 de Maio, 2081</h4>
<h4>- Faculdade Ari De Sá, Av. Heráclito Graça, 826</h4>
<h4>- Mauricio De Nassau, Av. Aguanambi, 251</h4>
<h4>- ESTÁCIO FIC - Centro, Av. Duque De Caxias, 101</h4>
<h4>- ESTÁCIO FIC - Parangaba, Av. Senador Fernandes Távora, 137</h4>
<h4>- ESTÁCIO FIC - Água Fria, R. Eliseu Uchôa Beco, 600</h4>
<h4>- UNIFOR - Av. Washington Soares, 1321</h4>
<h4>- UNI7 - Av. Almirante Maximiniano da Fonseca, 1395</h4>
<h4>- FANOR DEVRY - Dunas, Av. Santos Dumont, 7800</h4>
<h4>- FANOR DEVRY - North Shopping, Av. Bezerra de Menezes, 2450</h4>
<h4>- UNICHRISTUS - Cocó, R. João Adolfo Gurgel, 133</h4>
<h4>- UNICHRISTUS - Dionísio Torres, R. Israel Bezerra, 670</h4>
<h4>- UNICHRISTUS - Dom Luís, Av. Dom Luís, 911</h4>
<h4>- FATECIR, Barão de Aratanha, 51</h4>
<h4>- Faculdade Lourenço Filho, Rua Barão do Rio Branco, 2101</h4>
<h4>- Faculdade CDL, R. Vinte e Cinco de Março, 882</h4>
<h4>- FATENE - Caucaia, Rua Coronel Correia, 1119</h4>
<h4>- FATENE - Damas, R. Matos Vasconcelos, 1626</h4>
<h4>- ATENEU - Montese, Rua Padre João Piamarta, 161</h4>
<h4>- ATENEU - Messejana, Av. Coletor Antônio Gadelha, 621</h4>
<h4>- ATENEU - Messejana 2, Rua Manuel Arruda, 70</h4>
<h4>- ATENEU - Humanidades e Artes, Rua Nova Quietude, 529 A</h4>
<h4>- ATENEU - Antônio Bezerra, Rua São Vicente De Paula, 300</h4>
<h4>- FAC - Faculdade Cearense, Av. João Pessoa, 3884</h4>
<h4>- Faculdade Católica de Fortaleza, Rua Tenente Benévolo, 201</h4>
<h4>- Faculdade Integrada Grande Fortaleza, Av. Porto Velho, 401</h4>
<h4>- FAMETRO - Centro, Rua Conselheiro Estelita, 500</h4>
<h4>- FAMETRO - Padre Ibiapina, Av. Padre Ibiapina, 1243</h4>
<h4>- FAMETRO - Guilherme Rocha, Rua Conselheiro Estelita, 264</h4>
<h4>- FAMETRO - Jacarecanga, Av. Filomeno Gomes, 110</h4>
<h4>- FAFOR - Faculdade De Fortaleza, Rua Caetano Ximenes Aragão, 110</h4>
<h4>- UNICE - Rua Dona Leopoldina, 912</h4>
<h4>- Faculdade Evolução, Rua Pedro I, 1276</h4>
<h4>- Faculdade Stella Maris (Shopping), Av. Dom Luís, 300</h4>
<h4>- Faculdade Padre Dourado Av. Heráclito Graça, 400</h4>
<h4>- Faculdade Paulo Picanço, Rua Joaquim Sá, 900</h4>
<h4>- Faculdade Farias Brito, R. Castro Monte, 1364</h4>
<h4>- Faculdade RATIO - Rua Isac Amaral, 420</h4>
<h4>- Faculdade RATIO - Unidade II Rua Tibúrcio Frota, 1420</h4>
<h4>- Faculdade RATIO - Unidade III Av. Rogaciano Leite, 340</h4>
<h4>- Faculdade Rodolfo Teófilo, Av. Imperador, 1360</h4>
<h4>- Claretiano Av. Frei Cirilo, 4454</h4>
<h4>- UNOPARR. Idelfonso Albano, 1030</h4>
<h4>- Faculdade De Gestão e Negócios (Shopping), Av. Lineu Machado, 419</h4>
<h4>- CEPEP Faculdade, Av. da Universidade, 3232</h4>
<h4>- Faculdade Evolutivo, Av. Oliveira Paiva, 800</h4>
<h4>- Faculdade Apoena, Rua Princesa Isabel, 1533</h4>
<h4>- Faculdade Joaquim Nabuco, Rua Major Facundo, 403</h4>
<h4>- Faculdade Latino-americana De Educação, R. Caio Prado, 152</h4>
<h4>- Instituto De Desenvolvimento, Educação E Cultura Do Ceará, <br /> 
	    Rua Tenente Benévolo, 1251</h4>
<h4>- UNIASSELVI - FADESC Rua Desembargador Leite Albuquerque, 826</h4>
<h4>- UNINTER Av. Bezerra de Menezes, 260</h4>
<h4>- UNIFACS Av. Bezerra de Menezes, 325</h4>
<h4>- Faculdade Educacional da Lapa, Av. Duque de Caxias, 2125</h4>
<h4>- Faculdade São Leopoldo Mandic, Rua Padre Valdevino, 1415</h4>
<h4>- Faculdade AIEC, R. Dr. Atualpa Barbosa de Lima, 500</h4>
<h4>- Universidade das Américas - Shopping Avenida - Av. Dom Luís, 300 - 215</h4>
<h4>- Universidade das Américas - Maracanaú - Av. Dr. Mendel Steinbruch, 6591</h4>
<h4>- MRH - FACINER. Prof. Jacinto Botelho, 1600</h4>